#google_image{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
}

#entry{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;

}

#buttons{
    position: absolute;
    top: 180%;
    left: 28%;
    transform: translate(-50%, -50%);
    width: 150px;
}

#buttons2{
    position: absolute;
    top: 180%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 230px;
}

#cubuk{
    position: relative;
    left: 15%;
    width: 420px;
}

